<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{supName}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="supplier" class="for-supplier">
    <div text-justify class="normaltext half-padding">
      <ion-item>
        <h2 ion-text color="primary" class="largetext">{{supplier?.company_name}}</h2>
        <h3 class="normaltext  half-marginbottom">{{supplier?.firstname}}, {{supplier?.lastname}}</h3>
        <p>Status <span ion-text color="primary">{{supplier?.status}}</span></p>
        <p>Date Joined <span ion-text color="primary">{{supplier?.date_created}}</span></p>
        <p>Pay Charges <span ion-text color="primary">{{supplier?.paycharges}}</span></p>
      </ion-item>
      <ion-item>
        <div class="desc">Email</div>
        <span ion-text color="primary">{{supplier?.email}}</span>
      </ion-item>
      <ion-item>
        <div class="desc">Phone</div>
        <span ion-text color="primary">{{supplier?.phone}}</span>
      </ion-item>
     <ion-item *ngIf="usertype === 'Admin'">
        <div class="desc">Password</div>
        <span ion-text color="primary">{{supplier?.password}}</span>
      </ion-item>
      <ion-item>
        <div class="desc">DPR Number</div>
        <span ion-text color="primary">{{supplier?.dprnumber}}</span>
      </ion-item>
      <ion-item *ngIf="usertype !== 'Transporter' && usertype !== 'User'">
        <div class="desc">Number of Supply</div>
        <span ion-text color="primary">{{supplier?.bookings}}</span>
      </ion-item>
      <ion-item *ngIf="usertype !== 'Transporter' && usertype !== 'User'">
        <div class="desc">Current Number of Supply</div>
        <span ion-text color="primary">{{supplier?.currentbookings}}</span>
      </ion-item>
      <ion-item *ngIf="usertype !== 'Transporter' && usertype !== 'User'">
        <div class="desc">Code</div>
        <span ion-text color="primary">{{supplier?.suppliercode}}</span>
      </ion-item>
      <ion-item>
        <div class="desc">Address</div>
        <span ion-text color="primary" class="wrap">{{supplier?.address}}</span>
      </ion-item>
    </div>
    <ion-item-group>
      <ion-item-divider class="normaltext" color="primary">Transporters Associated With:</ion-item-divider>
      <div text-justify class="normaltext lineup mini-padding">
        <ion-list>
          <button ion-item detail-push *ngFor="let transporter of transporters" (click)="goToTransDetails(transporter.transporterid, transporter.lastname)">
      <h2 hidden="true">{{transporter.transporterid}}</h2>
        <ion-row no-padding>
              <ion-col text-left>
                {{transporter.firstname}}, {{transporter.lastname}}
              </ion-col>
            </ion-row>
             <ion-icon name="arrow-dropright" item-right></ion-icon>
    </button>
        </ion-list>
      </div>
      <div class="marginleft paddingleft marginright paddingright marginbottom margintop" *ngIf="notrans === 'notrans'">
        No Transporter
      </div>
      <div *ngIf="notrans === 'none'" class="marginleft paddingleft marginright paddingright marginbottom">
        <div class="mediumtext center bordertop bold half-padding primary">
        
        </div>
      </div>
      <ion-infinite-scroll (ionInfinite)="loadmoretransporters($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider class="normaltext" color="primary">Products Associated With:</ion-item-divider>
      <div text-justify class="normaltext lineup mini-padding">
        <ion-list *ngIf="usertype !== 'User' && usertype !== 'Transporter' && usertype !== 'Admin'">
          <button ion-item detail-push *ngFor="let product of products" (click)="goToProdDetails(product.productid, product.type)">
            <h2 hidden="true">{{product.productid}}</h2>
              <ion-row no-padding>
                    <ion-col text-left>
                      {{product.type}}
                    </ion-col>
                    <ion-col text-right>
                      {{product.price}}
                    </ion-col>
                  </ion-row>
                    <ion-icon name="arrow-dropright" item-right></ion-icon>
               </button>
        </ion-list>
        <ion-list *ngIf="usertype !== 'Supplier' && usertype !== 'User'">
          <button ion-item detail-push *ngFor="let product of products">
            <ion-icon name="color-fill" item-left></ion-icon>
            <h2 hidden="true">{{product.productid}}</h2>
              <ion-row no-padding>
                    <ion-col text-left>
                      {{product.type}}
                    </ion-col>
                    <ion-col text-right>
                      {{product.price}}
                    </ion-col>
                  </ion-row>
                   <ion-icon name="arrow-dropright" item-right></ion-icon>
               </button>
        </ion-list>
      </div>
    </ion-item-group>
  </div>
</ion-content>
