<ion-content class="wallpaper">
  <div class="center">
    <img src="assets/img/icon.png">
  </div>
  <ion-card>
    <ion-card-content>
      <div class="normaltext center">Create <span ion-text color="primary"> QikFuel Transporter Account</span></div>
      <form #TSignup="ngForm" *ngIf="supplierid">
        <ion-item-group>
          <ion-item-divider color="primary" class="normaltext">Fill in your details</ion-item-divider>
          <ion-item class="border mini-margintop">>
            <ion-input [(ngModel)]="transportsignup.firstname" placeholder="FirstName" ngControl="firstname" type="text" name="firstname"
              #firstname="ngModel" required>
            </ion-input>
          </ion-item>
          <ion-item class="border half-margintop">
            <ion-input [(ngModel)]="transportsignup.lastname" placeholder="LastName" ngControl="lastname" type="text" name="lastname"
              #lastname="ngModel" required>
            </ion-input>
          </ion-item>
          <ion-item class="border half-margintop">
            <ion-input [(ngModel)]="transportsignup.phone" placeholder="Phone" ngControl="phone" type="tel" name="phone" #phone="ngModel"
              required>
            </ion-input>
          </ion-item>
          <ion-item class="border half-margintop">
            <ion-input [(ngModel)]="transportsignup.email" placeholder="Email" ngControl="email" type="text" name="email" #email="ngModel"
              required>
            </ion-input>
          </ion-item>
          <ion-item class="border half-margintop">
            <ion-input [(ngModel)]="transportsignup.password" placeholder="Password" ngControl="password" type="password" name="password"
              #password="ngModel" required>
            </ion-input>
          </ion-item>
          <ion-item *ngFor="let sta of states" class="border half-margintop">
            <ion-label floating class="normaltext">Select State</ion-label>
            <ion-select [(ngModel)]="transportsignup.selectedstateid"  name="selectedstateid"
              #selectedstateid="ngModel" (ngModelChange)="onSelect($event)" required>
              <ion-option *ngFor="let state of sta" value="{{ state.id }}">{{ state.state}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngFor="let lg of lgas" class="border half-margintop">
            <ion-label floating class="normaltext">Select LGA</ion-label>
            <ion-select [(ngModel)]="transportsignup.lga"  ngControl="lga" name="lga" #lga="ngModel"
              required>
              <ion-option *ngFor="let lga of lg" value="{{ lga.id }}">{{ lga.lga}}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="border half-margintop">
            <ion-input [(ngModel)]="transportsignup.town" placeholder="Town" ngControl="town" type="text" name="town" #town="ngModel"
              required>
            </ion-input>
          </ion-item>
          <ion-item class="border half-margintop">
            <ion-input [(ngModel)]="transportsignup.street" placeholder="Street" ngControl="street" type="text" name="street" #street="ngModel"
              required>
            </ion-input>
          </ion-item>
          <ion-item class="border half-margintop">
            <ion-input [(ngModel)]="transportsignup.platenumber" placeholder="Plate Number" ngControl="platenumber" type="text" name="platenumber"
              #platenumber="ngModel" required>
            </ion-input>
          </ion-item>
          <ion-item class="border half-margintop">
            <ion-input [(ngModel)]="transportsignup.tankcapacity" placeholder="Tank Capacity" ngControl="tankcapacity" type="number" name="tankcapacity"
              #tankcapacity="ngModel">
            </ion-input>
          </ion-item>
          <ion-item class="border half-margintop half-marginbottom">
            <ion-input [(ngModel)]="transportsignup.enginenumber" placeholder="Engine Number" ngControl="enginenumber" type="text" name="enginenumber"
              #enginenumber="ngModel">
            </ion-input>
          </ion-item>
          <ion-item-group>
            <ion-item-divider color="primary" class="normaltext">Password Recovery</ion-item-divider>
            <div>
              <ion-item class="border half-margintop">
                <ion-label floating class="normaltext">Select Question</ion-label>
                <ion-select class="" [(ngModel)]="transportsignup.question" ngControl="question" name="question"
                  #question="ngModel">
                  <ion-option value="How old are you?">How old are you?</ion-option>
                  <ion-option value="What is your favourite fruit?">What is your favourite fruit?</ion-option>
                  <ion-option value="What is your pet name?">What is your pet name?</ion-option>
                </ion-select>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.answer" placeholder="Answer to question " ngControl="answer" type="text" name="answer"
                  #answer="ngModel">
                </ion-input>
              </ion-item>

            </div>
          </ion-item-group>
          <div class="half-margintop">
            <button ion-button block (click)="onTSignup(TSignup)" type="submit" id="createbtn" tappable block [disabled]="!TSignup.valid">Create Transporter Account</button>
          </div>
        </ion-item-group>
      </form>
      <form #TransporterSignupForm="ngForm" *ngIf="adminid">
            <ion-item-group>
              <ion-item-divider color="primary" class="normaltext">Supplier ID-Number</ion-item-divider>
              <div>
                <ion-item class="half-margintop">
                  <ion-searchbar primary [(ngModel)]="queryText" (ionInput)="verifyValue()" name="queryText" placeholder="Supplier ID-Number"
                    required>
                    </ion-searchbar>
                </ion-item>
                <ion-item class="border half-margintop">
                  <h2>{{ verify?.Supplierid }}</h2>
                  <ion-label class="greyin">Company Name</ion-label>
                  <ion-label placeholder="N/A" class="smallb">{{verify?.SupplierCompanyName}}</ion-label>
                </ion-item>
                <ion-item class="border half-marginbottom half-margintop">
                  <ion-label class="greyin">Supplier Name</ion-label>
                  <ion-label class="smallb">{{verify?.SupplierFIrstName}} {{verify?.SupplierLastName}}</ion-label>
                </ion-item>
              </div>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider color="primary" class="normaltext ">Fill in your details</ion-item-divider>
            <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.firstname" placeholder="FirstName" ngControl="firstname" type="text" name="firstname"
                  #firstname="ngModel" required>
                  </ion-input>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.lastname" placeholder="LastName" ngControl="lastname" type="text" name="lastname"
                  #lastname="ngModel" required>
                  </ion-input>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.phone" placeholder="Phone" ngControl="phone" type="tel" name="phone" #phone="ngModel"
                  required>
                  </ion-input>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.email" placeholder="Email" ngControl="email" type="text" name="email" #email="ngModel"
                  required>
                  </ion-input>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.password" placeholder="Password" ngControl="password" type="password" name="password"
                  #password="ngModel" required>
                  </ion-input>
              </ion-item>
              <ion-item *ngFor="let sta of states" class="border mini-margintop">
                <ion-select [(ngModel)]="transportsignup.selectedstateid" placeholder="States" name="selectedstateid" placeholder="States"
                  #selectedstateid="ngModel" (ngModelChange)="onSelect($event)" required>
                  <ion-option *ngFor="let state of sta" value="{{ state.id }}">{{ state.state}}</ion-option>
                  </ion-select>
              </ion-item>
              <ion-item *ngFor="let lg of lgas" class="border mini-margintop">
                <ion-select [(ngModel)]="transportsignup.lga" placeholder="LGAs" ngControl="lga" name="lga" placeholder="LGAs" #lga="ngModel"
                  required>
                  <ion-option *ngFor="let lga of lg" value="{{ lga.id }}">{{ lga.lga}}</ion-option>
                  </ion-select>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.town" placeholder="Town" ngControl="town" type="text" name="town" #town="ngModel"
                  required>
                  </ion-input>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.street" placeholder="Street" ngControl="street" type="text" name="street" #street="ngModel"
                  required>
                  </ion-input>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.platenumber" placeholder="Plate Number" ngControl="platenumber" type="text" name="platenumber"
                  #platenumber="ngModel" required>
                  </ion-input>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.tankcapacity" placeholder="Tank Capacity" ngControl="tankcapacity" type="number" name="tankcapacity"
                  #tankcapacity="ngModel">
                  </ion-input>
              </ion-item>
              <ion-item class="border half-margintop half-marginbottom">
                <ion-input [(ngModel)]="transportsignup.enginenumber" placeholder="Engine Number" ngControl="enginenumber" type="text" name="enginenumber"
                  #enginenumber="ngModel">
                  </ion-input>
              </ion-item>
               <ion-item-group>
            <ion-item-divider color="primary" class="normaltext">Password Recovery</ion-item-divider>
            <div>
              <ion-item class="border half-margintop">
                <ion-label floating class="normaltext">Select Question</ion-label>
                <ion-select class="" [(ngModel)]="transportsignup.question" placeholder="Secret question " ngControl="question" name="question"
                  #question="ngModel">
                  <ion-option value="How old are you?">How old are you?</ion-option>
                  <ion-option value="What is your favourite fruit?">What is your favourite fruit?</ion-option>
                  <ion-option value="What is your pet name?">What is your pet name?</ion-option>
                </ion-select>
              </ion-item>
              <ion-item class="border half-margintop">
                <ion-input [(ngModel)]="transportsignup.answer" placeholder="Answer to question " ngControl="answer" type="text" name="answer"
                  #answer="ngModel">
                </ion-input>
              </ion-item>

            </div>
          </ion-item-group>
          <div class="half-margintop">
                <button ion-button block (click)="onTransporterSignup(TransporterSignupForm, verify.Supplierid)" type="submit" id="createbtn"
                  tappable block [disabled]="!TransporterSignupForm.valid">Create Account</button>
              </div>
            </ion-item-group>
          </form>
      <ion-fab top right>
        <button ion-fab mini (click)="ShowRegister()"><ion-icon name="arrow-back"></ion-icon></button>
      </ion-fab>
    </ion-card-content>
  </ion-card>

</ion-content>
